*.pdf
*.iml
*.log
resultRuns.log
.Rhistory
.Rproj.user
.RData
.Ruserdata
rgccaLauncher\.Rproj

temp/
\.idea/
data3/
results/

functional_tests\.sh

data/blocks\.xlsx

data/response2\.tsv

data/response3\.tsv

out\.png

vignettes/data/

inst/shiny/tutorialShiny\.html
