*.pdf
*.iml
*.log
*.sh
*.html
*.tex
*.RData

.Rhistory
.Rproj.user
.RData
.Ruserdata
rgccaLauncher\.Rproj

man/
tests/
temp/
\.idea/

vignettes/data/
vignettes/images/

inst/doc/

*inds\.tsv
*vars\.tsv
