*.pdf
*.png
*.iml
*.log
resultRuns.log
.Rhistory
.Rproj.user
.RData
.Ruserdata
rgccaLauncher\.Rproj

man/
tests/
temp/
\.idea/

functional_tests\.sh

vignettes/data/
vignettes/images/

inst/shiny/tutorialShiny\.html
inst/doc/

vignettes/vignette_rgcca\.html
vignettes/vignette_rgcca.tex
